
#header{
        margin:0px;
        }

body{
margin:0;
padding:0;

}

.row{
       margin:0;
       padding:0;
       text-align:center;
       }

.top{
background-color:palegoldenrod;
padding:0;
margin:0;
text-align:center;


}